[Desktop Entry]
Encoding=UTF-8
Name=X-Kill
Comment=Terminate a Malfunctioning Program
Comment[es_AR]=Termine un programa que funciona mal
Comment[fr_FR]=Clore un programme qui dysfonctionne
Comment[it_IT]=Termina un Programma malfunzionante
Comment[ja_JP]=動作不良プログラムの終了
Comment[pl_PL]=Zakończ wadliwie działający program
Comment[pt_BR]=Finaliza os programas com mal-funcionamento
Comment[pt_PT]=Termina um Programa (kill)
Comment[ru_RU]=Завершение неисправной программы
Exec=xkill
Icon=xkill
Terminal=False
Type=Application
Categories=System
