[Desktop Entry]
Name=Root file manager
Name[el]=Διαχειριστής αρχείων με δικαιώματα διαχειριστή
Name[es]=Administrador de archivos como Root
Name[fr]=Gestionnaire de fichier Root
Name[id]=Manajer file root
Name[it]=File manager di Root
Name[ja]=Root ファイルマネージャー
Name[pl]=Menadżer plików administratora systemu
Name[pt_BR]=Gerenciador de Arquivos em Modo Root
Name[pt_PT]=Gestor de fecheiros ROOT
Name[ru]=Файловый менеджер Root
Comment=Work on files and folders as root
Comment[el]=Επεξεργασία αρχείων και φακέλων με δικαιώματα διαχειριστή
Comment[es]=Trabaje con archivos y carpetas como el root
Comment[fr]=Gérer les fichiers et répertoires en mode Root
Comment[id]=Bekerja pada file dan folder sebagai root
Comment[it]=Lavora su file e cartelle come amministratore
Comment[ja]=root でのファイル・フォルダ作業
Comment[pl]=Pracuj na plikach i folderach z prawami administratora
Comment[pt_BR]=Trabalhe nos arquivos e diretórios em modo root
Comment[pt_PT]=Trabalhar em fecheiros e pastas como root
Comment[ru]=Работа с файлами и папками в качестве root
Exec=remsu /usr/lib/sparkycenter/bin/sparky-center-exe pcmanfm
Terminal=false
Type=Application
Encoding=UTF-8
Icon=system-file-manager
Categories=System;
X-Desktop-File-Install-Version=0.20
