[Desktop Entry]
Type=Application
Name=Java
Comment=Choose default Java version
Comment[es_AR]=Elija la versión de Java predeterminada
Comment[fr_FR]=Choisir la version Java  par défaut
Comment[it_IT]=Scegli la versione di Java di default
Comment[ja_JP]=デフォルト Java バージョンの選択
Comment[pl_PL]=Wybierz domyślną wersję Java
Comment[pt_BR]=Escolha a versão  Java padrão
Comment[pt_PT]=Escolha a versão padrão (default)do Java
Comment[ru_RU]=Выберите версию Java по умолчанию
Icon=java
Exec=remsu "sparky-terminal -e update-alternatives --config java"
StartupNotify=true
Terminal=False
Categories=Settings;DesktopSettings;X-LXDE-Settings;GTK;
