[Desktop Entry]
Type=Application
Name=Session manager
Name[es]=Administrador de sesiones
Name[fr]=Gestionnaire de session
Name[id]=Manajer sesi
Name[it]=Gestore delle Sessioni
Name[ja]=セッションマネージャー
Name[pl]=Menadżer sesji
Name[pt_BR]=Gerenciador de Sessão
Name[pt_PT]=Gestor de sessões
Name[ru]=Менеджер сессии
Comment=Choose default session manager
Comment[es]=Elija el administrador de sesiones predeterminado
Comment[fr]=Choisir le Gestionnaire de session par défaut
Comment[id]=Pilih manajer sesi default
Comment[it]=Scegli il gestore delle sessioni predefinito
Comment[ja]=デフォルトセッションマネージャーの選択
Comment[pl]=Wybierz domyślnego menadżera sesji
Comment[pt_BR]=Escolha gerenciador de sessão padrão
Comment[pt_PT]=Escolha gestor de sessão padrão (default)
Comment[ru]=Выберите менеджер сессии по умолчанию
Icon=session-properties
Exec=remsu /usr/lib/sparkycenter/bin/sparky-center-exe session
StartupNotify=true
Terminal=False
Categories=Settings;DesktopSettings;X-LXDE-Settings;GTK;
