[Desktop Entry]
Type=Application
Name=X Terminal Emulator
Name[es_AR]=Emulador de terminal X
Name[fr_FR]=Emulateur de Terminal X
Name[ja_JP]=X ターミナルエミュレーター
Name[pl_PL]=Emulator Terminala
Name[pt_BR]=Emulator do Terminal-X
Name[pt_PT]=X Terminal Emulator
Name[ru_RU]=Эмулятор X-терминала
Comment=Choose default Terminal Emulator
Comment[es_AR]=Elija el emulador de terminal predeterminado
Comment[fr_FR]=Choisir l'émulateur de Terminal X par défaut
Comment[it_IT]=Scegli l'emulatore di terminale predefinito
Comment[ja_JP]=デフォルトターミナルエミュレーターの選択
Comment[pl_PL]=Wybierz domyślny emulator terminala
Comment[pt_BR]=Escolha do emulator terminal-X padrão
Comment[pt_PT]=Escolha a Predefinição do Emulador de Terminal
Comment[ru_RU]=Выберите эмулятор терминала по умолчанию
Icon=utilities-terminal
Exec=remsu "sparky-terminal -e update-alternatives --config x-terminal-emulator"
StartupNotify=true
Terminal=False
Categories=Settings;DesktopSettings;X-LXDE-Settings;GTK;
