[Desktop Entry]
Type=Application
Name=X Terminal Emulator
Name[es]=Emulador de terminal X
Name[fr]=Emulateur de Terminal X
Name[id]=Emulator X Terminal
Name[ja]=X ターミナルエミュレーター
Name[pl]=Emulator Terminala
Name[pt_PT]=Emulator do Terminal-X
Name[pt_PT]=X Terminal Emulator
Name[ru]=Эмулятор X-терминала
Comment=Choose default Terminal Emulator
Comment[es]=Elija el emulador de terminal predeterminado
Comment[fr]=Choisir l'émulateur de Terminal X par défaut
Comment[id]=Pilih Emulator Terminal default
Comment[it]=Scegli l'emulatore di terminale predefinito
Comment[ja]=デフォルトターミナルエミュレーターの選択
Comment[pl]=Wybierz domyślny emulator terminala
Comment[pt_BR]=Escolha do emulator terminal-X padrão
Comment[pt_PT]=Escolha a Predefinição do Emulador de Terminal
Comment[ru]=Выберите эмулятор терминала по умолчанию
Icon=utilities-terminal
Exec=remsu /usr/lib/sparkycenter/bin/sparky-center-exe terminal
StartupNotify=true
Terminal=False
Categories=Settings;DesktopSettings;X-LXDE-Settings;GTK;
