[Desktop Entry]
Type=Application
Name=Window manager
Name[es]=Administrador de Ventanas
Name[fr]=Gestionnaire de fenêtres
Name[id]=Manajer window
Name[it]=Gestore delle finestre
Name[ja]=ウインドウマネージャー
Name[pl]=Menadżer okien
Name[pt_BR]=Gerenciador de Janela
Name[pt_PT]=Gestor de janelas
Name[ru]=Менеджер окон
Comment=Choose default window manager
Comment[es]=Elija el administrador de ventanas predeterminado
Comment[fr]=Choisir le Gestionnaire de fenêtres  par défaut
Comment[id]=Pilih manajer window default
Comment[it]=Scegli il gestore delle finestre predefinito
Comment[ja]=デフォルトウインドウマネージャーの選択
Comment[pl]=Wybierz domyślnego menadżera okien
Comment[pt_BR]=Escolha do gerenciador de janela
Comment[pt_PT]=Escolha gestor de janelas perdefenido
Comment[ru]=Выберите менеджер окон по умолчанию
Icon=xfce4-workspaces
Exec=remsu /usr/lib/sparkycenter/bin/sparky-center-exe window
StartupNotify=true
Terminal=False
Categories=Settings;DesktopSettings;X-LXDE-Settings;GTK;
