[Desktop Entry]
Type=Application
Name=Window manager
Name[es_AR]=Administrador de Ventanas
Name[fr_FR]=Gestionnaire de fenêtres
Name[it_IT]=Gestore delle finestre
Name[ja_JP]=ウインドウマネージャー
Name[pl_PL]=Menadżer okien
Name[pt_BR]=Gerenciador de Janela
Name[pt_PT]=Gestor de janelas
Name[ru_RU]=Менеджер окон
Comment=Choose default window manager
Comment[es_AR]=Elija el administrador de ventanas predeterminado
Comment[fr_FR]=Choisir le Gestionnaire de fenêtres  par défaut
Comment[it_IT]=Scegli il gestore delle finestre predefinito
Comment[ja_JP]=デフォルトウインドウマネージャーの選択
Comment[pl_PL]=Wybierz domyślnego menadżera okien
Comment[pt_BR]=Escolha do gerenciador de janela
Comment[pt_PT]=Escolha gestor de janelas perdefenido
Comment[ru_RU]=Выберите менеджер окон по умолчанию
Icon=xfce4-workspaces
Exec=remsu "sparky-terminal -e update-alternatives --config x-window-manager"
StartupNotify=true
Terminal=False
Categories=Settings;DesktopSettings;X-LXDE-Settings;GTK;
