[Desktop Entry]
Name=Cfdisk
GenericName=Text Mode Partition Editor
GenericName[es_AR]=Editor de particiones en modo texto
GenericName[fr_FR]=Editeur de partition en mode texte
GenericName[it_IT]=Editor di partizioni testuale
GenericName[ja_JP]=テキストモードパーティションエディタ
GenericName[pl_PL]=Edytor partycji w trybie tekstowym
GenericName[pt_BR]=Editor de Partição em Modo Texto
GenericName[pt_PT]=Editor em modo de Texto do gestor Partições
GenericName[ru_RU]=Редактор разделов в текстовом режиме
Comment=Create, reorganize, and delete partitions in text mode
Comment[es_AR]=Cree, reorganice y elimine particiones en modo texto
Comment[fr_FR]=Créer, réorganiser, et détruire les partitions en mode texte
Comment[it_IT]=Crea, riorganizza, e cancella le partizioni in ambiente testuale
Comment[ja_JP]=テキストモードでのパーティション作成・整理・削除
Comment[pl_PL]=Tworzenie, reorganizacja i usuwanie partycji w trybie tekstowym
Comment[pt_BR]=Crie, reorganize, e apague partições em modo texto
Comment[pt_PT]=Criar, organizar e eliminar partições em modo texto
Comment[ru_RU]=Создание, преобразование и удаление разделов в текстовом режиме
Exec=remsu "sparky-terminal -e cfdisk"
Icon=gparted
Terminal=false
Type=Application
Categories=System;Filesystem;Settings;
