[Desktop Entry]
Version=1.0
Name=Disk Manager
Name[de]=Geräte Verwaltung
Name[en_GB]=Disk Manager
Name[es]=Administrador de disco
Name[fr]=Gestionnaire de disque
Name[it_IT]=Gestione disco
Name[ja_JP]=ディスクマネージャー
Name[nb]=Disk Manager
Name[pl]=Menadżer dysku
Name[pt_BR]=Gerenciador de Disco
Name[pt_PT]=Gestor de Discos
Name[ru_RU]=Диспетчер дисков
Name[sv]=Diskhanterare
Name[zh_CN]=磁盘管理器
Comment=Manage filesystem configuration
Comment[de]=Verwalte Dateisystem Konfiguration
Comment[en_GB]=Manage filesystem configuration
Comment[es]=Administra la configuración del sistema de archivos
Comment[fr]=Gère la configuration du système de fichier
Comment[it_IT]=Il gestore di configurazione del file System
Comment[ja_JP]=ファイルシステム構成を管理します。
Comment[nb]=Styr filsystem konfigurasjon
Comment[pl]=Zarządaj konfiguracją systemu plików
Comment[pt_BR]=Gerenciar configurações do sistema de arquivos
Comment[pt_PT]=Gestor de configuração de discos do sistema
Comment[ru_RU]=Управление конфигурацией файловой системы
Comment[sv]=Hantera filsystemskonfiguration
Comment[zh_CN]=管理文件系统的配置
Icon=drive-harddisk
Exec=remsu disk-manager
Terminal=false
Type=Application
Categories=Application;System;Settings
