[Desktop Entry]
Name=Cfdisk
GenericName=Text Mode Partition Editor
GenericName[el]=Επεξεργαστής κατατμήσεων στο τερματικό
GenericName[es]=Editor de particiones en modo texto
GenericName[fr]=Editeur de partition en mode texte
GenericName[id]=Editor Partisi Mode Teks
GenericName[it]=Editor di partizioni testuale
GenericName[ja]=テキストモードパーティションエディタ
GenericName[pl]=Edytor partycji w trybie tekstowym
GenericName[pt_BR]=Editor de Partição em Modo Texto
GenericName[pt_PT]=Editor em modo de Texto do gestor Partições
GenericName[ru]=Редактор разделов в текстовом режиме
Comment=Create, reorganize, and delete partitions in text mode
Comment[el]=Δημιουργήστε, οργανώστε και διαγράψτε κατατμήσεις από το τερματικό
Comment[es]=Cree, reorganice y elimine particiones en modo texto
Comment[fr]=Créer, réorganiser, et détruire les partitions en mode texte
Comment[id]=Buat, atur ulang, dan hapus partisi dalam mode teks
Comment[it]=Crea, riorganizza, e cancella le partizioni in ambiente testuale
Comment[ja]=テキストモードでのパーティション作成・整理・削除
Comment[pl]=Tworzenie, reorganizacja i usuwanie partycji w trybie tekstowym
Comment[pt_BR]=Crie, reorganize, e apague partições em modo texto
Comment[pt_PT]=Criar, organizar e eliminar partições em modo texto
Comment[ru]=Создание, преобразование и удаление разделов в текстовом режиме
Exec=remsu /usr/lib/sparkycenter/bin/sparky-center-exe cfdisk
Icon=gparted
Terminal=false
Type=Application
Categories=System;Filesystem;Settings;
