[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sparky Center LXDE
Name[pt_PT]=Configuração do Sistema
GenericName=Sparky Center LXDE
Comment=Configure system settings
Comment[es]=Configure los parámetros del sistema
Comment[fr]=Configurer les paramètres du système
Comment[id]=Konfigurasikan pengaturan sistem
Comment[it]=Configura le impostazioni di sistema
Comment[ja]=システム設定
Comment[pl]=Konfiguracja ustawień systemu
Comment[pt_BR]=Configurar ajustes do sistema
Comment[pt_PT]=Configurar as definições do sistema
Comment[ru]=Настройка системных параметров
Exec=/usr/bin/sparky-center
Icon=preferences-system
Terminal=false
Type=Application
Categories=Applications;System
