[Desktop Entry]
Version=1.0
Type=Application
Name=Virtual Keyboard
Name[es]=Teclado virtual
Name[fr]=Clavier virtuel
Name[id]=Keyboard Virtual
Name[it]=Tastiera Virtuale
Name[ja]=仮想キーボード
Name[pl]=Wirtualna klawiatura
Name[pt_BR]=Teclado Virtual
Name[pt_PT]=Teclado virtual
Name[ru]=Виртуальная клавиатура
Comment=Virtual keyboard
Comment[es]=Teclado virtual
Comment[fr]=Clavier virtuel
Comment[id]=Keyboard Virtual
Comment[it]=Tastiera Virtuale
Comment[ja]=仮想キーボード
Comment[pl]=Klawiatura wirtualna
Comment[pt_BR]=Teclado Virtual
Comment[pt_PT]=Teclado virtual do Sismeta
Comment[ru]=Виртуальная клавиатура
Categories=GTK;Utility
Exec=florence
Icon=florence
Terminal=false
StartupNotify=true
