[Desktop Entry]
Name=IcedTea Web Control Panel
Name[es_AR]=Panel de Control de IcedTea Web
Name[fr_FR]=Panneau de contrôle de IcedTea Web
Name[it_IT]=Pannello di controllo di IcedTea Web
Name[ja_JP]=IcedTea Web コントロールパネル
Name[pl_PL]=Panel kontroli IcedTea
Name[pt_BR]=Painel de Controle do IcedTea Web
Name[pt_PT]=Painel de Controlo Web IcedTea
Name[ru_RU]=Панель управления IcedTea Web
Comment=Configure IcedTea Web (javaws and plugin)
Comment[es_AR]=Configure IcedTea Web (javaws y complemento)
Comment[fr_FR]=Configurer IcedTea Web (javaws et greffon)
Comment[it_IT]=Configura IcedTea Web (javaws e plugin)
Comment[ja_JP]=IcedTea Web の設定 (javaws・プラグイン)
Comment[pl_PL]=Konfiguracja IcedTea Web (javaws oraz wtyczka) 
Comment[pt_BR]=Configure IcedTea Web (javaws e plugins)
Comment[pt_PT]=Configure IcedTea Web (javaws e plug-in)
Comment[ru_RU]=Настройка IcedTea Web (javaws и дополнения)
Exec=/usr/bin/itweb-settings
Icon=java
Terminal=false
Type=Application
Categories=Settings;
