[Desktop Entry]
Name=IcedTea Web Control Panel
Name[es]=Panel de Control de IcedTea Web
Name[fr]=Panneau de contrôle de IcedTea Web
Name[id]=Panel Kontrol IcedTea Web
Name[it]=Pannello di controllo di IcedTea Web
Name[ja]=IcedTea Web コントロールパネル
Name[pl]=Panel kontroli IcedTea
Name[pt_BR]=Painel de Controle do IcedTea Web
Name[pt_PT]=Painel de Controlo Web IcedTea
Name[ru]=Панель управления IcedTea Web
Comment=Configure IcedTea Web (javaws and plugin)
Comment[es]=Configure IcedTea Web (javaws y complemento)
Comment[fr]=Configurer IcedTea Web (javaws et greffon)
Comment[id]=Konfigurasikan IcedTea Web (javaws dan plugin)
Comment[it]=Configura IcedTea Web (javaws e plugin)
Comment[ja]=IcedTea Web の設定 (javaws・プラグイン)
Comment[pl]=Konfiguracja IcedTea Web (javaws oraz wtyczka) 
Comment[pt_BR]=Configure IcedTea Web (javaws e plugins)
Comment[pt_PT]=Configure IcedTea Web (javaws e plug-in)
Comment[ru]=Настройка IcedTea Web (javaws и дополнения)
Exec=/usr/lib/sparkycenter/bin/sparky-java-exe icedtea
Icon=java
Terminal=false
Type=Application
Categories=Settings;
