[Desktop Entry]
Name=OpenJDK Java Policy Tool
Name[es]=Herramienta de políticas de OpenJDK Java
Name[fi]=OpenJDK Java - käytäntötyökalu
Name[fr]=Outil de stratégie OpenJDK Java
Name[ja]=OpenJDK Java ポリシーツール
Name[pl]=Polityka prywatności OpenJDK Java
Name[pt_BR]=Ferramenta de Políticas do OpenJDK Java
Name[pt_PT]=Definições do OpenJDK Java
Name[ru]=Инструмент политики OpenJDK Java
Comment=OpenJDK Java Policy Tool
Comment[es]=Herramienta de la política de OpenJDK Java
Comment[fr]=Outil de stratégie OpenJDK Java
Comment[fi]=OpenJDK Java - käytäntötyökalu
Comment[it]=Ambiente di esecuzione di Java, necessario per eseguire Java GUI ed i programmi Webstart
Comment[ja]=OpenJDK Java ポリシーツール
Comment[pl]=Polityka prywatności OpenJDK Java
Comment[pt_BR]=Ferramenta de Políticas do OpenJDK Java
Comment[pt_PT]=Definições do OpenJDK Java
Comment[ru]=Инструмент политики OpenJDK Java
Exec=/usr/lib/sparkycenter/bin/sparky-java-exe openjdk
Terminal=false
Type=Application
Icon=java
Categories=Settings;
