[Desktop Entry]
Name=OpenJDK Java Policy Tool
Name[es_AR]=Herramienta de políticas de OpenJDK Java
Name[fi]=OpenJDK Java - käytäntötyökalu
Name[fr_FR]=Outil de stratégie OpenJDK Java
Name[ja_JP]=OpenJDK Java ポリシーツール
Name[pl_PL]=Polityka prywatności OpenJDK Java
Name[pt_BR]=Ferramenta de Políticas do OpenJDK Java
Name[pt_PT]=Definições do OpenJDK Java
Name[ru_RU]=Инструмент политики OpenJDK Java
Comment=OpenJDK Java Policy Tool
Comment[es_AR]=Herramienta de la política de OpenJDK Java
Comment[fr_FR]=Outil de stratégie OpenJDK Java
Comment[fi]=OpenJDK Java - käytäntötyökalu
Comment[it_IT]=Ambiente di esecuzione di Java, necessario per eseguire Java GUI ed i programmi Webstart
Comment[ja_JP]=OpenJDK Java ポリシーツール
Comment[pl_PL]=Polityka prywatności OpenJDK Java
Comment[pt_BR]=Ferramenta de Políticas do OpenJDK Java
Comment[pt_PT]=Definições do OpenJDK Java
Comment[ru_RU]=Инструмент политики OpenJDK Java
Exec=/usr/bin/policytool
Terminal=false
Type=Application
Icon=java
Categories=Settings;
