[Desktop Entry]
Name=Sound Mixer
Name[el]=Μείκτης ήχου
Name[es]=Mezclador de sonido
Name[fr]=Mixeur de son
Name[id]=Sound Mixer
Name[ja]=サウンドミキサー
Name[pl]=Mixer dźwięku
Name[pt_BR]=Mixer do Som
Name[pt_PT]=Misturador de audio
Name[ru]=Звуковой микшер
Comment=Sound mixer of the system
Comment[el]=Μείκτης ήχου του συστήματος
Comment[es]=Mezclador de sonido
Comment[fr]=Mixeur de son du système
Comment[id]=Sound Mixer di sistem
Comment[it]=Sound mixer per il sistema
Comment[ja]=システムのサウンドミキサー
Comment[pl]=Konfiguracja ustawień serwera dźwięku
Comment[pt_BR]=Mixer do som para o sistema
Comment[pt_PT]=Misturador de audio do sistema
Comment[ru]=Системный звуковой микшер
Exec=/usr/lib/sparkycenter/bin/sparky-mixer
Icon=multimedia-volume-control
Terminal=false
Type=Application
Categories=Application;AudioVideo;
X-Desktop-File-Install-Version=0.3
StartupNotify=true
