[Desktop Entry]
Type=Application
Name=Text editor
Name[el]=Επεξεργαστής κειμένου
Name[es]=Editor de texto
Name[fr]=Editeur de texte
Name[id]=Editor teks
Name[it]=Editor di Testo
Name[ja]=テキストエディタ
Name[pl]=Edytor tekstu
Name[pt_BR]=Editor de Texto
Name[pt_PT]=Editor de Texto
Name[ru]=Текстовый редактор
Comment=Choose default text editor
Comment[el]=Επιλέξτε επεξεργαστή κειμένου για προεπιλογή
Comment[es]=Elija el editor de texto predeterminado
Comment[fr]=Choisir l'éditeur de texte par défaut
Comment[id]=Pilih editor teks default
Comment[it]=Scegli l'editor di testo predefinito
Comment[ja]=デフォルトテキストエディタの選択
Comment[pl]=Wybierz domyślny edytor tekstu
Comment[pt_BR]=Escolha o editor de texto padrão
Comment[pt_PT]=Escolha o editor de texto padrão
Comment[ru]=Выберите текстовый редактор по умолчанию
Icon=accessories-text-editor
Exec=remsu /usr/lib/sparkycenter/bin/sparky-center-exe editor
StartupNotify=true
Terminal=False
Categories=Settings;DesktopSettings;X-LXDE-Settings;GTK;
